<div id="page-content">
    <div class="section section_team">
        <div class="container">
            <div class="row row-title ">
                <div class="col s12">
                    <div class="section-title row-title-team">
                        <span class="theme-secondary-color">subscribe</span>&nbsp;Youtube Channel
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 text-center">
                <label class="info">कंपनी  की डिटेल प्राप्त करने के लिए  youtube चैनल को 
                    Subscribe करें.Click On Bell Icon</label>
                    <a class="btn" href="https://www.youtube.com/@madhuraasthacompany" style="margin-bottom: 30px;background-color: #3276b3;">Open Youtube Channel</a>                         
                    </div>                           
                    <!-- <ng-container *ngFor="let val of videoList();let i=index">
                        <iframe width="100%" height="315" [src]="getVideoUrl(val.file)">
                        </iframe>
                    </ng-container> -->
                <div class="col s12 text-center">
                  
                    <div style="display: none;align-items:baseline;">            
                        <input type="file"  name="file" (change)="onChange($event)" size="10kb" accept=".jpeg,.png,.jpg"
                            style="float: right;" />
                    </div>
                    Click on Checkbox After Subscribe : <input (change)="upload($event)" style="width: 20px;height: 20px;" type="checkbox"/>  
                    <button class="btn-success btn" (click)="Submit()">Submit</button>                   
                </div>
            </div>
            <div class="data">
                <label *ngIf="response().length>0" class="response">{{response()}}</label>
                <label *ngIf="response().length==0" class="response">Note : Double Click or Tap on Image to Delete.</label>
                <ng-container *ngFor="let val of kycInfo;let i=index">
                    <img *ngIf="val.type=='subscribe'" src="./images/subscribe.png" (dblclick)="Delete(val.autoId)" />
                <label class="response" style="color: green;">Account will be Verify within 12 Hours.</label>
                </ng-container>
            </div>
        </div>
    </div>
</div>