<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-5">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Member Profile Details &nbsp;: &nbsp;
                    <ul style="padding: 0;">
                        <li class="levelShow">Level<span> {{LevelCount[0].level}}</span></li>
                        <li class="levelShow">Mem<span>{{totalMem}}</span></li>
                        <li class="levelShow">Pur<span>{{totalPur}}</span></li>
                        <li class="levelShow">Total<span>{{LevelCount[0].total}}</span></li>
                    </ul>
                </h6>

                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <tr>
                            <td>E-Pin</td>
                            <td>:</td>
                            <td>{{Info.regPin}}</td>
                        </tr>
                        <tr>
                            <td>Member Id</td>
                            <td>:</td>
                            <td>{{Info.memberId}}</td>
                        </tr>
                        <tr>
                            <td>Member Name</td>
                            <td>:</td>
                            <td>{{Info.memberName}}</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>:</td>
                            <td>{{Info.dob|date:'dd-mm-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Mobile No</td>
                            <td>:</td>
                            <td>{{Info.mobileNo}}</td>
                        </tr>
                        <tr>
                            <td>Aadhar No</td>
                            <td>:</td>
                            <td>{{Info.aadharNo}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>{{Info.address}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>:</td>
                            <td>{{Info.state}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>:</td>
                            <td>{{Info.city}}</td>
                        </tr>
                        <tr>
                            <td>Pin</td>
                            <td>:</td>
                            <td>{{Info.pinCode}}</td>
                        </tr>
                        <tr>
                            <td>Nominee</td>
                            <td>:</td>
                            <td>{{Info.nominee}}</td>
                        </tr>
                        <tr>
                            <td>Nominee Relation</td>
                            <td>:</td>
                            <td>{{Info.relationWithNominee}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-7">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Member Self Team
                    <p id="loadingContent" *ngIf="IsLoading">data is loading...
                        <img class="loading" src="/loading.gif" />
                    </p>
                </h6>
                <div class="table-responsive" style="max-height: 340px;">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-white">
                                <th scope="col">#</th>
                                <th scope="col">MemberId</th>
                                <th scope="col">Member Name</th>
                                <th scope="col">Mobile No</th>
                                <th scope="col">RefId</th>

                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let val of selfMember;let i=index">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{val.memberId}}</td>
                                    <td>{{val.memberName}}</td>
                                    <td>{{val.mobileNo}}</td>
                                    <td>{{val.refId}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ng-container style="display: flex;" *ngFor="let val of kycInfo;let i=index">
        <div class="col-sm-12 col-md-4 col-xl-4 mb-3">
            <div class="bg-secondary rounded h-100 p-4">             
                    <a href="#" [download]="val.file">
                        <img [src]="getUrl(val.file)" class="kyc" />
                    </a>               
            </div>
        </div>
    </ng-container> 
    </div>