::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c00000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c00000;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #c00000;
    }
    .flex{
        display: flex;
    }