<div id="page-content">
    <div class="section section_team">
        <div class="container">
            <div class="row row-title ">
                <div class="col s12">
                    <div class="section-title row-title-team">
                        <span class="theme-secondary-color">Team</span> Report
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div style="display: flex;align-items:baseline;">
                        <select #type (change)="filterType(type.value)">
                            <option value="Member">Member</option>
                            <option value="Repurchase">Repurchase</option>
                        </select>&nbsp;&nbsp;&nbsp;

                        <input type="text" name="search" style="float: right;" (keyup)="filterData($event)"
                            placeholder="Seach.." />
                    </div>
                    <label class="level">Level : {{LevelCount[0].level}}</label>
                    <label class="level">M : {{LevelCount[0].member}}</label>
                    <label class="level">P : {{LevelCount[0].purchase}}</label>
                    <label class="level">Total : {{LevelCount[0].total}}</label>
                    <div class="info text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>MemberId</th>
                                    <th>Member Name</th>                                  
                                    <th>Ref Id</th>
                                    <th>Ref Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let key of levelInfo;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{key.memberId}}</td>
                                    <td>{{key.memberName}}</td>
                                    <!-- <td>{{(key.refId==loginId())?key.mobileNo:'-'}}</td> -->
                                    <td class="text-danger">{{key.refId}}</td>
                                    <td class="text-danger">{{key.referralName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>