.level{
    font-size: 15px;
    padding:4px 10px;
    color: #0aa43d;
    font-weight: bold;
    text-align: center;
    background: #efeeee;
    border-radius: 3px;
    margin-left:10px    
}
table tbody tr:nth-child(1){
    background: #66e690;
}
table thead th,table tbody td{
    white-space: pre;
}
.info{
    overflow: auto;
    width: 100%;
}