<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-4">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Store Info</h6>
                <div class="mb-3">                    
                    <div class="table-responsive" style="max-height: 440px;">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Store Id</th>
                                    <th scope="col">Total</th>                                    
                                    <th scope="col">View</th>                                    
                                </tr>
                            </thead>
                            <tbody>                              
                                <ng-container *ngFor="let value of storeInfo;let i=index">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{value.storeId}}</td>
                                    <td>{{value.total}}</td>      
                                    <td><button (click)="GetTotal(value.storeId)" class="btn btn-danger btn-sm">View</button></td>                                                             
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Reward Distributor Info</h6>
                <div class="mb-3">                  
                    <div class="input-group mb-3">                                      
                        &nbsp;<label class="total">Total : {{total}}</label><button class="btn btn-primary btn-sm" style="margin-left: 10px;" (click)="ResetDistributorReward()">Reset</button>
                        <label style="margin-left: 10px;">{{storeId}}</label>      
                    </div>
                    <div class="table-responsive" style="max-height: 440px;">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Member Id</th>
                                    <th scope="col">Reward Level</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let value of rewardInfo;track $index">
                                <tr>
                                    <td>#</td>
                                    <td>{{value.memberId}}</td>                                    
                                    <td>{{value.level}}</td>                                   
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>