<div id="page-content">
    <div class="section section_team">
        <div class="container">
            <div class="row row-title ">
                <div class="col s12">
                    <div class="section-title row-title-team">
                        <span class="theme-secondary-color">Mini</span> Store
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="display: flex;align-items:baseline;">                        
                    <input type="text" name="search" style="float: right;" #city placeholder="Village, City.." />    
                    <button class="btn btn-danger btn-sm" (click)="getStore(city.value)" style="width: 25%;padding:0;">Find</button>                
                    <input type="text" style="margin-left: 15px;width: 50%;" name="search" #pin placeholder="Pin Code" minlength="6" maxlength="6" />                    
                    <button (click)="getStore(pin.value)" class="btn btn-danger btn-sm" style="width: 25%;padding:0;">Get</button>                
                </div>
                <div class="text-danger text-center" *ngIf="statusMsg().length>0">
                    <span>{{statusMsg()}}</span>
                </div>
                <div class="col s12 list"  *ngFor="let val of storeList;let i=index">
                  <b class="text-danger">Store Id : </b>{{val.storeId}}, <label class="type">{{val.type}}</label><br>
                  <b class="text-danger">Store Name : </b>{{val.storeName}}<br>
                  <b class="text-danger">Mobile No : </b>{{val.mobile}}<br>
                  <b class="text-danger">Address : </b>{{val.address}}<br>
                  <b class="text-danger">State : </b>{{val.state}}, 
                  <b class="text-danger">Village/City : </b>{{val.city}}
                </div>              
            </div>
        </div>
    </div>
</div>