.list{
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.type{
    float: right;
    color: green;
    font-size: 14px;
    background: #aafdaa;
    padding: 2px 7px;
    border-radius: 31px;
}