input[type=text],input[type=date]{
margin: 0px !important;
}
table td,table th{
    padding: 0px 4px !important;
}
.btnCMD{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.updating {
    display: inline-block;
    color: red;
    font-size: 15px;
    text-align: center;
    width: 70%;
}