<div class="main-slider" data-indicators="true">
    <div class="carousel carousel-slider " data-indicators="true">                
        <a class="carousel-item"><img src="images/slider1.png" alt="slider"></a>
        <a class="carousel-item"><img src="images/slider2.jpg" alt="slider"></a>        
    </div>
</div>

<div class="section home-category">
    <div class="container">
        <div class="row icon-service">
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/level-income">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/level-income.png" alt="category">
                                <h5>Level <br>Income</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/reward-income">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/reward-income.png" alt="category">
                                <h5>Re Purchasing</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/account">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/account.png" alt="category">
                                <h5>My<br>Account</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/today-member">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/today.png" alt="category">
                                <h5>Today<br>Member</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/team">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/team.png" alt="category">
                                <h5>My<br>Team</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/level-report">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/level-report.png" alt="category">
                                <h5>Downline<br>Report</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/refer">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/share.png" alt="category">
                                <h5>Share To<br>Friend</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/company-plan">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/plan.png" alt="category">
                                <h5>Official<br>Plan</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s4 m4 l2">
                <a class="icon-content" routerLink="/mini-store">
                    <div class="content fadetransition">
                        <div class="in-content">
                            <div class="in-in-content">
                                <img src="icons/store.png" alt="category">
                                <h5>Mini<br>Store</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section promo">
    <div class="container">
        <div class="col s12">           
            <label [routerLink]="verified().class=='Subscribe'?'/subscribe-upload':'/dashboard'" [class]="verified().class"><i *ngIf="verified().class=='Subscribed'" class="fa fa-check-circle">&nbsp;</i>{{verified().value}}</label>           
        </div>
    </div>
</div>