<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-8">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Level With Day
                </h6>
                <div class="mb-3">              
                    <div class="input-group mb-3">                                          
                        <select class="form-control" [(ngModel)]="dto.level">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>&nbsp;&nbsp;
                        <input type="text" min="1" max="100" value="1" [(ngModel)]="dto.day"
                            class="form-control" />&nbsp;&nbsp;
                        <button *ngIf="!IsLoading" (click)="GetDetails()" class="btn btn-primary">Get</button>
                        <img *ngIf="IsLoading" class="loading" src="./loading.gif" />&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="table-responsive" style="max-height: 440px;">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Member Id</th>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">Mobile No</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Day</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let val of memberInfo;let i=index">
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{val.memberId}}</td>
                                        <td>{{val.memberName}}</td>
                                        <td>{{val.mobileNo}}</td>
                                        <td>{{val.creationDate}}</td>
                                        <td>{{val.dayCount}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>